*{
    box-sizing: border-box;
}

html{
    font-size:62.5%;/*1rem = 10px*/
}

body,h1,h2,ul{
    margin:0;
    padding:0;
    
}
ul{
    list-style: none;
}

/*******************/
body{
    font-family: 'Nunito Sans', sans-serif;
}
.arkaplan{
    background: url(https://wenajans.com/images/kodlamaegitimi/kodlama-egitimi-kapak.jpg);
}
.kapsayici{
    width: 960px;
    margin:auto;
}

.ust{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 200px;
}

.ust .logo{
    text-align: center;
    color:#fff;
}
.ust .logo h1{
    font-size:4rem;
    letter-spacing: .5rem;
}

.ust .logo h1::first-letter{
    color:#41fc54;
}

.ust .logo h1:hover::first-letter{
    background-color:#41fc54;
    color:#25373D;
}

.ust .logo h2{
    font-size:2.4rem;
}

.ust .menu ul{
    display: flex;
}
.ust .menu ul li{
    margin:0 1rem;
}

.ust .menu ul a{
    color:#fff;
    text-decoration: none;
    font-size:1.8rem;
    padding:0 2rem;
}


.orta .bolum1{
    margin-top:20px;
    border:10px solid #25373D;
    padding:20px;
    
}

.orta .bolum1 img{
    display: block;
    width: 100%;
   
    
}

.orta .bolum2{
    margin-top:20px;
    display: flex;
    justify-content: space-between;
    
        
    
}  
    


.orta .bolum2 .kutu{
    flex-basis: 290px;
    
    
}

.orta .bolum2 .kutu h2{
    font-size: 2rem;
}

.orta .bolum2 .kutu p{
    font-size: 1.6rem;

}

.orta .bolum3{
    display: flex;
    justify-content: space-between;
    gap:20px;
}

.orta .bolum3 h1{
    font-size:2.5rem;
}

.orta .bolum3 p{
    font-size:1.6rem;
}

.alt{
    margin-top:20px;
    padding:20px 0;
    display: flex;
    gap:20px;
}
.alt .baglanti{
    flex-grow: 1;
}

.alt .baglanti ul li{
    border-bottom:dotted 1px #41fc54;
    margin:5px 0;
}

.alt .baglanti a{
    font-size:1.6rem;
    text-decoration: none;
    color:#f2f2f2;
}


.cizgi{
    border-top:dotted 1px #41fc54;
    margin:25px 0;
}

.alt-kenar-10{
    border-bottom:10px solid #41fc54;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
 
body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 13px;
    line-height: 30px;
    color: #888;
    background: #ffffff;
}
 

